body {
    /* background-color: red; */
    font-family: 'Open Sans', sans-serif;
}

.nav-1 {
    z-index: 0;
    position: relative;
    background-color: white;
}

.nav-2 {
    text-align: center;
    z-index: 2;
    background-color: #000C24;
    width: 80px;
    height: 100%;
      position: absolute;
      display: inline-block;
  }

.example-spacer {
    flex: 1 1 auto;
  }
  .profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

.home-icon {
    margin-top: 5rem;
    display: block;
    width: 100%;
}

.home {
    position: relative;
    height: 10px;
    top: -10px;
}

.camp-icon {
  cursor: pointer;
    margin-top: 2rem;
    display: block;
    width: 100%;
}


.camp{
    cursor: pointer;
    position: relative;
    height: 10px;
    top: -10px;
}
  .camp p {
    margin: 0px 0px;
  }
.camp-icons:hover {
  scale: 1.1;
}

  p {
    font-size: small;
  }
  .logo {
    margin-top: 4rem;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
  }
  .logo img{
    width: 50px;
    height: 50px;
    scale: 0.6;
    border-radius: 50%;
  }

  .logo:hover {
      scale: 1.2;
  }

  .mat-raised-button.mat-success,
  .mat-flat-button.mat-success,
  .mat-fab.mat-success,
  .mat-mini-fab.mat-success {
    color: #FD9936;
    background-color: #FDF2E4;
  }

.other-components{
    margin-top: 2rem;
    margin-left: 8rem;
}